*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-box-sizing: border-box;

}

/*label.checkbox input[type="checkbox"] {display:none;}
label.checkbox span {
  display:inline-block;
  border:2px solid black;
  border-radius:2px;
  width:40px;
  height:40px;
  background:white;
  vertical-align:middle;
  margin:3px;
  position: relative;
  transition:width 0.1s, height 0.1s, margin 0.1s;
}
label.checkbox :checked + span {
  background:black;
  width:40px;
  height:40px;
}*/

.container{
    width:100%;
    display:block;
    margin:0 auto;
    text-align: center;
}
option{
    font-size: 30px;
}
select{
    width:300px;
    padding:10px;
    font-size: 30px;
}
.pull,.snake {
    display:inline-block;
    padding:10px 10px;
    margin:0 auto;
    text-align: center;
}
button{
    width:150px;
    height:100px;
    margin:0 auto;
    display:inline-block;
    text-align: center;
    margin-top:10px;
    font-size: 40px;
}
#snake{
    display:none;
}
h3{
    padding:5px;
}
p{
    font-size: 20px;
}
#stop {
/*    display:none;*/
    color:red;
}